@import '../utils/mixins';

// Section layout
.footer-button {
    margin-left: 70px;

    > p {
        color: $colorSecondary;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__list {
        display: flex;
        gap: 10px;
    }

    &__link {
    @include social-buttons;
    transition: background-color $transitionKit;
    background-color: $colorInactiveFooterButton;
    box-shadow: 0px 4px 4px 0px #00000026;
    padding: 12px; 

        &:hover, &:focus {
        background-color: $colorAccent;
        }
    }

    &__button {
    fill: $colorSecondary;
    }
}
