.menu-toggle {
    background: none;

    @media screen and (min-width:767px) {
        display: none;
    }
}

.menu-button {
    transition: $transitionKit;
    position: absolute;
    top: 10px;
    right: 15px;
}

.menu-toggle:hover .menu-button {
    fill: $colorAccent;
}