.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: $colorLogo;
    text-decoration: none;
    padding: 16px 0;

    &--blue {
        color: $colorAccent;
  }
  
    &--white {
        color: $colorSecondary;
    }

    @media screen and (min-width: 768px) {
        padding: 26px 0;
    }

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        padding: 24px 0;
    }
}