.paragraphs {
padding-bottom: 0;

    &__icon-box {
        padding: 25px 101.5px;
        background-color: $backgroundLightGray;
        border-radius: 4px;
        margin-bottom: 30px;

    }
}

.paragraphs__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.paragraphs__small-paragraphs {
    line-height: 1.7;
    color: $colorSmallText;
}