
* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
    background-color: $colorSecondary;
    font-family: $mainFont;
    color: $colorMainText;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  outline: none;
}

//  Section header
.secondary-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    margin-bottom: 50px;
}

// Flex settings
.flex, .paragraphs__list, .what-we-do, .team__list, .clients {
  display: flex;
  gap: 30px;
}