$mainFont: 'Roboto', sans-serif;
$transitionKit: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// Main
$colorMainText: #212121;
$colorAccent: #2196f3;
$colorTransparentAccent: #2196f3e5;
$colorSecondary: #ffffff;
$colorTransparentSecondary: #ffffff99;
$colorSmallText: #757575;
$backgroundLightGray: #f5f4fa;

// Header
$fontLogo: 'Raleway';
$colorLogo: #000000;
$colorLine: #ececec;

// Hero 
$backgroundDark: #2f303a;
$backgroundColorGradient: #2f303a66;

// What-we-do
$backgroundTransparentGray: #2f303acc;

// Team
$colorInactiveIcon: #afb1b8;

// Portfolio
$colorCardBorder: #eeeeee;

// Footer
$colorInactiveFooterButton: #ffffff1a;
$colorBorderNewsletter: ffffff4d;

// Modal
$colorBackdrop: #00000033;
$borderCloseButton: #0000001a;
$borderModalInput: #21212133;
$colorModalPlaceholder: #75757580;
